<% provide(:page_title, 'Editar Tipo de Entidad') %>

<div class="text-secondary">
<br>
<%= render 'form', tipo_entidad: @tipo_entidad %>
<br>
<%= link_to 'Volver', tipo_entidades_path, class: "btn btn-sm btn-secondary" %>
</div>
