<% provide(:tipo_entidades_active, 'active') %>
<% provide(:page_title, @tipo_entidad.tipo) %>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_entidad.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_entidad_path(@tipo_entidad) %> |
<%= link_to 'Back', tipo_entidades_path %>
