<% provide(:sesiones_active, 'active') %>
<% provide(:title, "Iniciar Sesión") %>

<div class="row jumbotron">
	<div class="col-md-6 offset-md-3">
		<%= form_for(:session, url: login_path) do |f| %>
				<%= f.email_field :email, { placeholder: 'Email', class: 'form-control' } %>
				
				<%= f.password_field :password, {placeholder: 'Contraseña', class: 'form-control'} %>
				
				<%= f.submit "Iniciar Sesión", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>
