<% provide(:page_title, 'Nueva Entidad') %>

<div class="text-secondary">
<br>
<%= render 'form', entidad: @entidad %>

<%= link_to 'Volver', entidades_path, class: "btn btn-sm btn-secondary" %>
</div>